.statistics {
    width: 32%;
    height: auto;

    &_content {
        height: auto;
        background: rgba(255, 255, 255, 1);
        border-radius: 25px;
        padding: 1.2rem 2rem;
        margin-top: 35px;
        position: relative;
        display: flex;
        justify-content: center;

        & span {
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            color: rgba(255, 255, 255, 1);
        }
        &_first {
            position: absolute;
            top: 20%;
            left: 28%;
            text-align: center;  
        }

        &_sec {
            position: absolute; 
            top: 49%;
            right: 61%;
            text-align: center;
        }
        &_third {
            position: absolute;
            top: 33%;
            right: 20%;
            text-align: center;
        }
        &_fourth {
            position: absolute;
            top: 56%;
            right: 34%;
            text-align: center;
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
    .statistics {
        width: 100% !important;
        margin-top: 20px;
    }
}


@media only screen and (min-width: 901px) and (max-width: 1024px) {
    .statistics {
        width: 37% !important;
    }
}