@import "./first-row/products/style.module.scss";
@import "./sec-row/activity/style.module.scss";

  
  .aside {
    width: 100%;
    height: auto;
    background: lightgray;
    padding: 10px 0 50px 0;
    display: flex;
    flex-direction: column;
  
    &_asideOne {
      width: 100%;
      height: auto;
    }
  
    &_asideTwo {
      width: 100%;
      height: auto;
    }
  
    &_asideThree {
      width: 100%;
      height: auto;
    }
    & h2 {
      color: rgba(52, 60, 106, 1);
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      margin: 0;
    }
  }
  