.item2 {
    grid-area: aside;
  }
  
  .aside {
    width: 100%;
    height: 100vh;
    background: lightgray;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Defines a 2-column layout */
    grid-template-rows: auto auto auto; /* Defines 3 rows */
    grid-template-areas: 
      "asideOne asideOne"
      "asideTwo asideTwo"
      "asideThree asideThree"; /* Consistent column count */
  
    &_first {
      grid-area: asideOne;
    }
  
    &_sec {
      grid-area: asideTwo;
    }
  
    &_third {
      grid-area: asideThree;
    }
  
    &_asideOne {
      width: 100%;
      height: 100vh;
      background: lightgray;

      &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
      }
    }
  
    &_asideTwo {
      width: 100%;
      height: 100vh;
      background: lightgray;
    }
  
    &_asideThree {
      width: 100%;
      height: 100vh;
      background: lightgray;
    }
  }
  