.aside_asideOne {
  
    &_content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: auto;
      margin-top: 25px;

      &_piece {
        max-width: 66.5%;
        width: 100%;

        > h2 {
          padding-left: 12px;
        }

      &_table {
        background: rgba(255, 255, 255, 1);
        border-radius: 25px;
        padding: 20px 0 20px 50px;
        margin: 35px 0 0 0;
        
        &_row {
          width: 100%;
          display: grid;
          grid-template-columns: 20% 27% repeat(2, 25%);
          align-items: start;
          justify-content: start;

          &_head {

            color: rgba(113, 142, 191, 1);
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          }
          &_body {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            margin-top: 10px;
          > div > span {
            color: rgba(35, 35, 35, 1);
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
          }
          }
        }
      }
    }

  }
  @media only screen and (max-width: 1024px) {
    &_content {
      column-gap: 25px;

      &_piece {
        max-width: 65% !important;
      }
    }
  }
}