.aside_asideOne {
  
    &_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
      margin-top: 25px;

      &_piece {
        max-width: 67%;
        width: 100%;

        > h2 {
          padding-left: 12px;
        }

      &_table {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background: rgba(255, 255, 255, 1);
        border-radius: 25px;
        padding: 20px 0 20px 35px;
        margin: 35px 0 0 0;

        &_row {
          display: flex;
          flex-direction: column;
          align-items: start;
          &_head {

            color: rgba(113, 142, 191, 1);
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          }
          &_body {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            margin-top: 10px;
          > div > span {
            color: rgba(35, 35, 35, 1);
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
          }
          }
        }
      }
    }
  }
}