.aside_asideOne {
    &_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
      // column-gap: 22px;

      & h2 {
        color: rgba(52, 60, 106, 1);
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        margin: 0;
      }

      &_piece {
        max-width: 67%;
        width: 100%;
        > h2 {
          padding-left: 12px;
        }
      &_table {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        height: auto;
        background: rgba(255, 255, 255, 1);
        border-radius: 25px;
        padding: 20px 0 20px 35px;

        &_row {
          display: flex;
          flex-direction: column;
          align-items: start;

          &_head {

            color: rgba(113, 142, 191, 1);
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          }
          &_body {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            margin-top: 20px;
          > tr > td {
            color: rgba(35, 35, 35, 1);
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
          }
          }
        }
      }
    }
  }
}