.container {
    display: grid;
    grid-template-areas:
    'sidebar header header header'
    'sidebar aside aside aside'
    'sidebar aside aside aside';
    grid-gap: 10px;
    width: 100%;
    height: auto;
    background: #1A202C;
}