.container {
    display: grid;
    grid-template-areas:
    'sidebar header header header'
    'sidebar aside aside aside'
    'sidebar aside aside aside';
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 2fr 2fr 2fr;
}