.sidebar {
    width: 13.5%;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(230, 239, 245, 1);
    padding: 0 30px;
    
    &_logo {
        width: 36px;
        height: 36px;
        margin-top: 40px;
        > img {
            max-width: 100%;
            height: 100%;
        }
    }

    &_list {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    
    &_item {
        display: flex;
        align-items: center;
        column-gap: 20px;
        width: 100%;
        height: 60px;

        > img {
            width: 25px;
            height: 25px;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgba(52, 60, 106, 1);
            font-weight: 500;
            font-size: 18px;
        }
    }
}
}