.cards {
    max-width: 100%;
    height: auto;
    margin: 0 1.75rem;
    
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        > h2 {
            color: rgba(52, 60, 106, 1);
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
        }
        > span {
            color: rgba(52, 60, 106, 1);
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
        }
    }

    &_body {
        display: flex;
        align-items: center;
        margin-top: 35px;
        column-gap: 25px !important;

        &_card {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            row-gap: 15px;
            color: rgba(255, 255, 255, 1);
            padding-top: 20px;
            

            &_row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;

                &_balance {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                    > span {
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 13px;
                    }
                    > p {
                        margin: 0;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                    }
                }

                &_icon {
                    width: 29px;
                    height: 29px;

                    > img {
                        max-width: 100%;
                        height: 29px;
                    }
                }
            

                &_text {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    > span {
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: rgba(255, 255, 255, 0.7);
                    }
                    > p {
                        margin: 0;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 15px;
                    }
                }
                &_number {
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 18px;
                    color: rgba(255, 255, 255, 1);
                }
            }
            
            &_item {
                padding-right: 35px;
            }
            &_el {
                height: 51px;
                padding: 0 20px 0 20px;
                border-top: 1px solid rgba(223, 234, 242, 1);
                background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
                > span {
                    color: rgba(52, 60, 106, 1);
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .cards {
        margin: 0 !important;
        &_header {
            > h2 {
                padding-left: 1.5rem;
                font-size: 16px;
                line-height: 19px;
            }
            > span {
                padding-right: 1.5rem;
                font-size: 14px;
                line-height: 17px;
            }
        }
        &_body {
            &_slide + &_slide {
                margin-left: 20px !important;
            }
            &_slide {
                width: 72% !important;
                margin-left: 1.5rem;
            }
            &_slide:nth-child(2) {
                border: 1px solid rgba(223, 234, 242, 1);
                border-radius: 15px;
            }
        }
    }
}
