@import "./order-details/style.module.scss";

.orders {
	width: 100%;
	height: auto;
	background: lightgray;

	> div > h2 {
		color: rgba(52, 60, 106, 1);
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
		margin: 0;
        padding-top: 30px;

	}

	&_list {
		background-color: rgba(255, 255, 255, 1);
		border-radius: 25px;
		margin-top: 37px;

		&_column {
			display: flex;
			width: 100%;
			justify-content: space-between;
			&_list {
				display: flex;
				flex-direction: column;
				column-gap: 20px;
				padding: 20px 32px;
				height: auto;
				
				> h3 {
					color: rgba(113, 142, 191, 1);
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					margin: 0;
					border-bottom: 1px solid rgba(230, 239, 245, 1);
				}
				&_item {
					width: 100%;
					display: flex;
				
				&_text {
					width: 100%;
					display: flex;
					flex-direction: column;
					margin-top: 37px;
					row-gap: 37px;

					> span {
						font-weight: 400;
						font-size: 16px;
						line-height: 19px;
						height: 37px;
						border-bottom: 1px solid rgba(230, 239, 245, 1);
						color: rgba(35, 35, 35, 1);

					}
					a > button {
						width: 100px;
						height: 37px;
						color: rgba(18, 50, 136, 1);
						border-radius: 25px;
						border: none;
						font-size: 16px;
						text-align: start;
						text-transform: capitalize;
						padding-left: 15px;
					}
				}
				}
			}  
		}

} 
}
.orders_mySwiper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
	margin-top: 25px;
  
	> button {
	  color: rgba(24, 20, 243, 1);
	  background: none;
	  border: none;
	  display: flex;
	  align-items: center;
	  column-gap: 5px;
	  cursor: pointer;
  
	  > span {
		font-weight: 500;
		font-size: 15px;
	  }
  
	  > img {
		width: 12px;
		height: 12px;
	  }
	}
  
	  &_swiperList {
		flex: 1;
		max-width: 100%;

	  .swiper-wrapper {
		display: flex !important;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
	  }
  
	  .swiper-slide {
		// flex-shrink: 0 !important;
  		width: auto !important;
		background-color: #d3d3d3;
		color: black;
		border-radius: 8px;
		text-align: center;
  
		&:active {
		  background-color: rgba(24, 20, 243, 1);
		  color: white;
		}
	  }
	}
  }
  
